---
layout: default
title: Home
---

{% if page.url == "/" %}
<!-- Featured-->
<div class="featured-posts outer">
    {% for post in site.posts %}
        {% if post.featured == true %}
            {% include featuredbox.html %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}
<!-- Posts Index -->
<div class="outer">
    {% if page.url == "/" %}
    <div class="post-feed-title inner">Latest Articles</div>
    {% endif %}
    <div class="post-feed inner-wide">
        {% for post in paginator.posts %}
            {% include postbox.html %}
        {% endfor %}
    </div>
</div>
<!-- Pagination-->
{% include pagination.html %}
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}



