/* Article */
.article {
  margin-bottom: 30px;
  border-radius: 3px;
  overflow: hidden;
  transition: transform .2s;

  &:hover {
    transform: translateY(-3px);
  }
}

.article__inner {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}


.image-wrap {
  padding: 15px 15px 0 15px;
  background: $background-color-alt;
}

.article__image {
  position: relative;
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  background: $background-color;
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.article__content {
  padding: 25px;
  background: $background-color-alt;
}

.article__title {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 32px;

  a {
    &:hover {
      color: $text-color;
    }
  }
}

.article__excerpt {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: $text-color-alt;
}

.article__meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;

  .article__author-link {
    color: $text-color-alt;

    &:hover {
      color: $text-color;
    }
  }

  .article-tags__box {
    display: flex;
    
    &::before {
      content: "/";
      display: inline-block;
      margin: 0 5px;
      color: $text-color-alt;
    }

    .article__tag {
      color: $text-color-alt;

      &:hover {
        color: $text-color;
      }

      &::after {
        content: ",";
        display: inline-block;
        margin: 0 2px;
      }

      &:last-child {
        &::after {
          content: none;
        }
      }
    }
  }

  .article__date {
    color: $text-color-alt;

    &::before {
      content: "/";
      display: inline-block;
      margin: 0 5px;
      color: $text-color-alt;
    }
  }
}

img[src$="centerme"] {
  display:block;
  margin: 0 auto;
}
