<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="">An insight on offensive technologies</h1>
    <center><img src="../images/avatar.png"></center>
    <hr /s>
    <p>
    <span class="reserved">char</span> nick[<span class="number">9</span>] = <span class="string">"{{ site.nick }}"</span>;
    </p>
    <p>
    printf(<a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank"><span class="string">"https://{{ site.source_code.server }}/<span class="reserved">%s\n</span>"</span></a>,nick);
    </p>
    <p>
    printf(<span class="string">"<span class="reserved">%s\x40</span>{{ site.mail.domain }}<span class="reserved">\x2e\\\b</span>{{ site.mail.ext }}<span class="reserved">\n</span>"</span>,nick);
    </p>
    <!-- <p>
            printf(<a href="https://{{ site.blog.nick }}.{{ site.blog.server }}" target="_blank"><span class="string">"https://<span class="reserved">%s</span>.{{ site.blog.server }}<span class="reserved">\n</span>"</span></a>,nick);
        </p> -->
    <p>
    puts(<a href="{{ site.url }}/misc/pubkey.gpg.txt" target="_blank"><span class="string">"AB17 8757 1394 4322 3E0C  A929 F208 556C 02FD BE3A"</span></a>);
    </p>
  </div>
</header>

{% include menu.html %}
