{% if paginator.total_pages > 1 %}

<!-- begin pagination -->
<nav class="pagination">
  <div class="container">
    <div class="pagination__inner">

    <div class="pagination__list">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination__prev"><i class="ion ion-ios-arrow-back"></i> Prev</a>
      {% else %}
      <span class="pagination__prev disabled"><i class="ion ion-ios-arrow-back"></i> Prev</span>
      {% endif %}

      <div class="pagination__count">Page {{ paginator.page }} of {{paginator.total_pages}}</div>

      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="pagination__next">Next <i class="ion ion-ios-arrow-forward"></i></a>
      {% else %}
      <span class="pagination__next disabled">Next <i class="ion ion-ios-arrow-forward"></i></span>
      {% endif %}
    </div>

    </div>
  </div>
</nav>
<!-- end pagination -->

{% endif %}