<article class="post">
    <header class="post-header">
        <div class="post-meta">
            <time class="published" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        </div><!-- .post-meta -->
        <h2 class="post-title">
            <a href="{{ post.url | absolute_url }}" rel="bookmark">{{ post.title }}</a>
        </h2>
    </header><!-- .post-header -->
    {% if post.featured_image_thumbnail %}
    <a class="post-thumbnail" href="{{ post.url }}">
        <img src="{% if post.featured_image_thumbnail contains ' :// ' %}{{ post.featured_image_thumbnail }}{% else %}{{ post.featured_image_thumbnail | absolute_url }}{% endif %}"
            alt="{{ post.title }}">
    </a>
    {% elsif post.featured_image %}
    <a class="post-thumbnail" href="{{ post.url }}">
        <img src="{% if post.featured_image contains ' :// ' %}{{ post.featured_image }}{% else %}{{ post.featured_image | absolute_url }}{% endif %}"
            alt="{{ post.title }}">
    </a>
    {% else %}
    {% endif %}
    <div class="post-content">
        <p>{{ post.excerpt | strip_html | truncatewords:40 }} </p>
        <p class="post-tags">
            {% if post.tags.size > 0 %}
            {% for tag in post.tags %}
            {% if forloop.index == post.tags.size %}
            <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | camelcase }}</a>
            {% else %}
            <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | camelcase }}</a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </p>
    </div><!-- .post-content -->
</article><!-- .post -->