<p class="social-links">
    {% if site.twitter %}
    <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <span class="fa-twitter fa" aria-hidden="true"></span>
        <span class="screen-reader-text">Twitter</span>
    </a>
    {% endif %}
    {% if site.facebook %}
    <a href="https://www.facebook.com/{{ site.facebook }}" target="_blank">
        <span class="fa-facebook-f fa" aria-hidden="true"></span>
        <span class="screen-reader-text">Facebook</span>
    </a>
    {% endif %}
    {% if site.github %}
    <a href="https://github.com/{{ site.github }}" target="_blank">
        <span class="fa-github fa" aria-hidden="true"></span>
        <span class="screen-reader-text">GitHub</span>
    </a>
    {% endif %}
    {% if site.codepen %}
    <a href="https://codepen.io/{{ site.codepen }}" target="_blank">
        <span class="fa-codepen fa" aria-hidden="true"></span>
        <span class="screen-reader-text">CodePen</span>
    </a>
    {% endif %}
    {% if site.dribbble %}
    <a href="https://dribbble.com/{{ site.dribbble }}" target="_blank">
        <span class="fa-dribbble fa" aria-hidden="true"></span>
        <span class="screen-reader-text">dribbble</span>
    </a>
    {% endif %}
    {% if site.medium %}
    <a href="https://medium.com/{{ site.medium }}" target="_blank">
        <span class="fa-medium fa" aria-hidden="true"></span>
        <span class="screen-reader-text">medium</span>
    </a>
    {% endif %}
    {% if site.instagram %}
    <a href="https://www.instagram.com/{{ site.instagram }}" target="_blank">
        <span class="fa-instagram fa" aria-hidden="true"></span>
        <span class="screen-reader-text">Instagram</span>
    </a>
    {% endif %}
    {% if site.pinterest %}
    <a href="https://www.pinterest.com/{{ site.pinterest }}" target="_blank">
        <span class="fa-pinterest fa" aria-hidden="true"></span>
        <span class="screen-reader-text">Pinterest</span>
    </a>
    {% endif %}
    {% if site.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
        <span class="fa-linkedin fa" aria-hidden="true"></span>
        <span class="screen-reader-text">Linkedin</span>
    </a>
    {% endif %}
    {% if site.producthunt %}
    <a href="https://www.producthunt.com/{{ site.producthunt }}" target="_blank">
        <span class="fa-product-hunt fa" aria-hidden="true"></span>
        <span class="screen-reader-text">ProductHunt</span>
    </a>
    {% endif %}
</p>