<div class="col col-4 col-d-6 col-t-12">
  <div class="widget widget-subscribe">
    <div class="widget__head">
      <h3 class="widget__title">{{ site.mailchimp__title }}</h3>
    </div>
    <div class="subscribe__inner">
      <div class="subscribe__group">
        <div class="subscribe__description">{{ site.mailchimp__text }}</div>
      </div>
      <!-- <form class="subscribe-form validate"
           action="{% if site.mailchimp-identifier %}//{{site.mailchimp-identifier}}{% else %}#{% endif %}" method="POST" id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
           <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
           <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL"
           placeholder="Your email address">
           <button class="button subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">{{ site.mailchimp__button__text }}</button>
           </form> -->
    </div>
  </div>
</div>
