/* Contact */
.contact-head {
  margin-bottom: 30px;
}

.form-box {
  max-width: 750px;
  margin: 0 auto;
}

.form__group {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__input {
  width: 100%;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid $border-color;
  outline: none;
  transition: 250ms;
  resize: vertical;
  color: rgba($text-color, 0.8);
  background: $background-color-alt;

  &::placeholder {
    color: rgba($text-color, 0.8);
  }

  &:focus {
    border: 1px solid $brand-color;
  }
}