/* Scheme dark */
$brand-color: #0070ff;

$background-color: #131212;
$background-color-alt: #161d25;

$text-color: #fff;
$text-color-alt: #ccc;

$heading-font-color: $text-color;

$link-color: $text-color;
$link-color-hover: $text-color;

$button-color: $background-color-alt;
$button-background-color: $brand-color;
$button-background-hover: darken($brand-color, 5%);

$border-color: #ededf3;